<nav>
    <div class="site-title">
        <a href="/"><h1>Todo List</h1></a>
        <p>Write all your to do list in one place</p>
    </div>
    <ul>
        <li><a href="/">My List</a></li>
        <li><a href="/motivation">Need Motivation to work?</a></li>
        <li><a href="/todos/create">New Todo</a></li>
    </ul>
</nav>
